<h1>結帳</h1>


wish_list:<%= @wish_list.title %><br>
quantity:<%= @order.quantity %><br>
amount:<%= @order.amount %><br>

<form method=post action="https://ccore.newebpay.com/MPG/mpg_gateway">
  <input type="hidden" name="MerchantID" value="<%= @form_info[:MerchantID] %>" readonly>
  <input type="hidden" name="Version" value="<%= @form_info[:Version] %>" readonly>
  <input type="hidden" name="TradeInfo" value="<%= @form_info[:TradeInfo] %>" readonly>
  <input type="hidden" name="TradeSha" value="<%= @form_info[:TradeSha] %>" readonly>
  <input type="hidden" name="Amt" value="<%= @order.amount.to_i %>" readonly>
  <input type=submit value='付款'>
</form>